[profile.default]
retries = 0
test-threads = "num-cpus"
fail-fast = false
status-level = "pass"
final-status-level = "flaky"

[profile.ci]
retries = 2
fail-fast = true

[profile.default.junit]
path = "target/nextest/junit.xml"
